html, body {
  margin: 0 auto;
  padding: 0;
  font-family: Cuprum, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Cuprum;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

h2 {
  font-family: Cuprum;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: Cuprum;
  font-weight: bold;
  font-size: 24px;
  color: #FFF;
  margin: 0;
}

p {
  font-family: "Pt Sans";
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden,
.product__cataloge--item-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  background: #ee3643;
  color: #fff;
  width: 250px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
  width: 940px;
  box-sizing: border-box;
}

.header {
  background: #f4f7f9;
}

/* HEADER */
/* HEADER TOP */
.header__top {
  height: 42px;
  background: #293449;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  height: 22px;
  padding: 10px 50px;
  text-align: center;
  border-bottom: 5px solid #b52933;
  background: #ee3643;
}

.header__top--formfind {
  margin-right: 75px;
  margin-left: 20px;
  padding-top: 10px;
}

.header__top--formfind input[type="text"] {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  background: #293449;
  border: none;
  padding-left: 30px;
}

.header__top--formfind::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-search.svg");
  width: 17px;
  height: 17px;
  z-index: 1;
}

.header__top--bookmarks,
.header__top--cart,
.header__top--checkout {
  display: block;
  position: relative;
  font-family: Cuprum;
  font-size: 17px;
  color: #fff;
  width: 150px;
  text-align: center;
  padding: 10px 0 0 15px;
}

.header__top--checkout {
  padding-left: 10px;
}

.header__top--cart-active {
  background: #ee3643;
}

.header__top--checkout {
  background: #63a63e;
}

.header__top--bookmarks::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-bookmark.svg");
  width: 14px;
  height: 16px;
  left: 5px;
}

.header__top--cart::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-cart.svg");
  width: 14px;
  height: 16px;
  left: 10px;
  top: 13px;
}

/* HEADER MIDDLE */
.header__middle {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0 40px 50px;
}

.header__middle--about {
  display: block;
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-family: Cuprum;
  width: 180px;
  margin-right: 85px;
}

.header__middle--contacts {
  margin-top: -7px;
  width: 280px;
  margin-right: 65px;
}

.header__middle--tel {
  display: block;
  position: relative;
  border: 3px solid #fff;
  color: #ee3643;
  font-size: 21px;
  text-align: center;
  padding: 10px 0;
  left: 10px;
}

.header__middle--contacts a::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-phone.svg");
  width: 20px;
  height: 20px;
  left: 10px;
}

.header__middle--contacts address {
  font-size: 14px;
  font-style: normal;
  font-family: Cuprum;
  text-align: center;
  position: relative;
  left: 10px;
}

.header__middle--registration {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.header__middle--registration-intro {
  display: block;
}

.header__middle--login,
.header__middle--logup,
.header__middle--name {
  display: block;
  background: #fff;
  font-size: 21px;
  color: #000;
  padding: 15px;
  text-align: left;
  box-sizing: border-box;
}

.header__middle--menu {
  display: block;
}

.header__middle--login {
  margin-right: 10px;
  box-sizing: border-box;
}

.header__middle--name {
  padding: 5px;
}

/* .header__middle--login::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-login.svg") no-repeat;
  width: 20px;
  height: 17px;
  top: 17px;
  left: 10px;
} */
.header__nav {
  padding-bottom: 60px;
  background: #f4f7f9;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  background: #32425c;
  height: 55px;
  border-bottom: 5px solid #293449;
  box-sizing: border-box;
  padding: 15px 50px;
}

.header__nav li {
  text-align: center;
}

.header__nav a {
  font-family: Cuprum;
  font-size: 17px;
  color: #fff;
  text-align: left;
}

.main {
  padding: 60px 0 85px;
}

.main__inside {
  padding: 25px 0 85px;
}

.cataloge__top,
.cataloge__bottom {
  display: flex;
  justify-content: space-between;
}

.cataloge__bottom {
  padding: 20px 0 50px;
}

.cataloge__item {
  padding: 20px 30px 21px;
  box-sizing: border-box;
  width: 32%;
}

.cataloge__bottom-right {
  width: 32%;
}

.cataloge__bottom-right .cataloge__item {
  width: 100%;
}

.cataloge__item h3 {
  margin-bottom: 20px;
}

.cataloge__item a {
  display: block;
  width: 135px;
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  font-family: Cuprum;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
}

.material {
  position: relative;
  background: #ffbf47 url("../img/icon-material.svg") no-repeat 214px 28px;
}

.tools {
  position: relative;
  background: #3bbce3 url("../img/icon-tools.svg") no-repeat 204px 28px;
}

.technics {
  position: relative;
  background: #dc91d8 url("../img/icon-technics.svg") no-repeat 194px 28px;
}

.sale {
  position: relative;
  background: #8ed78f url("../img/icon-sale.svg") no-repeat 200px 28px;
  margin-bottom: 20px;
}

.delivery {
  position: relative;
  background: #ffc047 url("../img/icon-delivery.svg") no-repeat 194px 28px;
}

.cataloge__slider {
  position: relative;
  box-sizing: border-box;
}

.cataloge__slider .button {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 25px;
}

.cataloge__slider--leftarrow,
.cataloge__slider--rightarrow {
  display: block;
  position: absolute;
  content: "";
  width: 22px;
  height: 40px
}

.cataloge__slider--leftarrow {
  background: url("../img/icon-left.svg");
  bottom: 100px;
  left: 25px;
}

.cataloge__slider--rightarrow {
  background: url("../img/icon-right.svg");
  bottom: 100px;
  right: 25px;
}

.cataloge__slider h2 {
  font-family: cuprum;
  font-synthesis: 36px;
  color: #fff;
  margin-bottom: 10px;
}

.cataloge__slider p {
  font-family: cuprum;
  font-size: 18px;
  color: #fff;
}

.cataloge__slider-1,
.cataloge__slider-2 {
  width: 620px;
  height: 265px;
  padding: 25px 0 0 25px;
  box-sizing: border-box;
}

.cataloge__slider-1 {
  background: url("../img/slider-1.jpg") no-repeat;
}

.cataloge__slider-2 {
  display: none;
  background: url("../img/slider-2.jpg") no-repeat;
}

.product__cataloge {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.product__cataloge--item {
  text-align: center;
  position: relative;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding: 45px 20px 40px;
  width: 23%;
}

.product__cataloge--item-catalog {
  text-align: center;
  position: relative;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding: 45px 20px 40px;
  width: calc(33% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.product__cataloge--bfg2000,
.product__cataloge--bfg3000,
.product__cataloge--bfg6000,
.product__cataloge--bfg9000 {
  margin-bottom: 20px;
}

.product button {
  width: 100%;
}

.bfg2000-flag,
.bfg3000-flag,
.bfg6000-flag,
.bfg9000-flag {
  position: relative;
}

.bfg-flag {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.product__header,
.companys__header {
  display: flex;
  justify-content: space-between;
  background: #f9f5f0;
  padding: 33px 25px 33px 30px;
}

.product__cataloge {
  padding: 20px 0;
}

.product__cataloge--header {
  display: block;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.product__cataloge--oldprice {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #a9a9a9;
  text-decoration: line-through;
  margin-bottom: 20px;
}

.product__cataloge--newprice {
  position: absolute;
  bottom: 15px;
  left: 40px;
  width: 120px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #ee3643;
  padding: 5px 0;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product__cataloge--newprice::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -37px;
  border: 17px solid transparent;
  border-left: 20px solid #ee3643;
}

.product__pagination {
  display: flex;
  justify-content: flex-start;
}

.product__pagination__item {
  display: block;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.companys__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0 10px;
}

.companys__items li {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 24%;
  height: 145px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.companys__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.companys__item img {
  margin: 0 auto;
}

.service {
  background: #f4f8fa;
  box-sizing: border-box;
  padding: 65px 0 20px;
}

.service__header {
  width: 400px;
  margin-bottom: 70px;
}

.service__features-content {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.service__features-content::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/vertical-shadow.png") no-repeat;
  width: 10px;
  height: 272px;
  left: 230px;
  top: -35px;
}

.service__features--delivery,
.service__features--garanty,
.service__features--credit {
  display: block;
  width: 240px;
  height: 60px;
  background: #32425c;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  padding: 20px 0 20px 20px;
}

.service__features--delivery-active {
  background: #fff;
  color: #32425c;
}

.service__content {
  padding-left: 80px;
  width: 100%
}

.service__content--delivery {
  background: url("../img/delivery.png") no-repeat top right;
  height: 240px;
}

.service__content--garanty {
  background: url("../img/garanty.png") no-repeat top right;
  height: 240px;
}

.service__content--credit {
  background: url("../img/credit.png") no-repeat top right;
  height: 240px;
}

.service__content p {
  width: 300px;
}

.about .container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0;
}

.about h2 {
  color: #000;
  margin-bottom: 40px;
}

.about p {
  margin-bottom: 30px;
  font-family: "pt sans";
  font-size: 13px;
}

.about__company p {
  width: 525px;
}

.about__company li {
  display: block;
  position: relative;
  font-family: cuprum;
  font-size: 18px;
  color: #000;
  margin-left: 35px;
  margin-bottom: 20px;
}

.about__company li::before {
  display: block;
  content: "";
  position: relative;
  top: 12px;
  left: -34px;
  width: 25px;
  height: 2px;
  background: #ee3643;
}

.about__contacts p {
  width: 180px;
}

.about__contacts--map {
  width: 300px;
  height: 158px;
  margin-bottom: 50px;
}

/* FOOTER */
.logo__footer {}

.footer__top {
  background: #32425c;
}

.footer__top .container {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  width: 220px;
}

.logo__footer {
  margin-bottom: 30px;
}

.footer__top--contacts a,
.footer__top--contacts address {
  color: #fff;
  font-family: cuprum;
  font-size: 18px;
  font-style: normal;
}

.footer__nav {
  padding-bottom: 40px;
}

.footer__nav ul {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 550px;
  margin: 40px 0 0;
}

.footer__nav ul:last-child {
  margin: 0 0 0 25px;
}

.footer__nav li {
  text-align: center;
}

.footer__nav a {
  font-family: Cuprum;
  font-size: 17px;
  color: #fff;
  text-align: left;
}

.footer__nav--bottom a {
  color: #ffd180;
}

.footer__bottom {
  background: #293449;
}

.footer__bottom .container {
  display: flex;
  justify-content: space-between;
  background: #293449;
  color: #fff;
  padding: 30px 0 20px;
}

.footer__bottom--copyright {
  width: 230px;
}

.social--button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer__bottom--social {
  display: flex;
  justify-content: flex-start;
  text-indent: -9999px;
}

.vk {
  background-image: url("../img/icon-vk.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.fb {
  background-image: url("../img/icon-fb.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.inst {
  background-image: url("../img/icon-insta.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.footer__bottom--mail p {
  display: inline-block;
  width: 140px;
}

.footer__bottom--mail a {
  color: #ffd180;
}

/* CATALOH.HTML */
.breadcrumbs ul {
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs h2 {
  padding: 33px 0 33px 30px;
  background: #f2f6f8;
  color: #32425c;
}

.breadcrumbs li,
.breadcrumbs a {
  color: #000;
  margin-right: 15px;
  text-transform: uppercase;
  color: #000;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.filter__form {
  width: 23%;
}

.filter__products--line{
  display: flex;
  justify-content: flex-start;
  background: #f7f3ec;
  padding: 10px 20px;
}

.filter__form span{
    display: block;
    background: #f7f3ec;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
  }

.filter__products {
  width: 75%;
}

.filter h3,
legend {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: #000;
  border: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.filter__range--controls {
  position: relative;
}

.scale {
  width: 100%;
  height: 80px;
  background: #f7f3ec;
  box-sizing: border-box;
  padding: 39px 20px;
}

.bar {
  width: 100%;
  height: 2px;
  background: #00ca74;
  position: relative;
}

.bar::after {
  position: absolute;
  content: "";
  background: #d7dcde;
  top: 0;
  right: 0;
  width: 29px;
  height: 2px;
}

.filter__range--toggle {
  width: 4px;
  height: 4px;
  border: 9px solid #fff;
  border-radius: 50%;
  background: gray;
  box-shadow: 1px 2px #e0ddd8;
}

.filter__range--min {
  position: absolute;
  content: "";
  top: 28px;
  left: 12px;
}

.filter__range--max {
  position: absolute;
  content: "";
  top: 28px;
  right: 40px;
}

.filter__range--data {
  display: flex;
  justify-content: space-between;
}

.filter__range--data input[type="text"] {
  background: #f7f3ec;
  border: 0;
  width: 100%;
  padding: 12px 0;
  text-align: center;
}
