html, body {
  margin: 0 auto;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-family: Cuprum;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

h2 {
  font-family: Cuprum;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: Cuprum;
  font-weight: bold;
  font-size: 24px;
  color: #FFF;
  margin: 0;
}

p {
  font-family: "Pt Sans";
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hidden{
  display: none;
}

.container {
  margin: 0 auto;
  width: 940px;
}

/* HEADER */

.logo{
  display: block;
  width: 120px;
  height: 22px;
  padding: 10px 50px;
  text-align: center;
  border-bottom: 5px solid #b52933;
  background: #ee3643 url("../img/logo-technomart.svg") no-repeat center;
}

.header__top {
  width: 100%;
  height: 42px;
  background: #293449;
  display: flex;
  justify-content: space-between;
}

.header__top--formfind{
  display: block;
  position: relative;
}

.header__top--formfind input[type="text"]{
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  background: #293449;
  border: none;
  padding-left: 30px;
}

.header__top--formfind::before{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-search.svg");
  width: 17px;
  height: 17px;
  z-index: 1;
}

.header__top--bookmarks,
.header__top--cart,
.header__top--checkout{
  display: block;
  position: relative;
  font-family: Cuprum;
  font-size: 17px;
  color: #fff;
  width: 150px;
  text-align: center;
}

.header__top--bookmarks::before{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-bookmark.svg");
  width: 14px;
  height: 16px;
}

.header__top--cart::before{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-cart.svg");
  width: 14px;
  height: 16px;
}

.header__middle{
  display: flex;
  justify-content: space-around;
  padding: 50px 0 45px 50px;
  background: #f4f7f9;
}

.header__middle--about p{
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-family: Cuprum;
  width: 200px;
}

.header__middle--contacts tel{
  display: block;
  position: relative;
  border: 3px solid #fff;
  color: #ee3643;
  font-size: 21px;
  text-align: center;
  padding: 10px 0;
}

.header__middle--contacts tel::before{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-phone.svg");
  width: 20px;
  height: 20px;
}

.header__middle--contacts adress{
  font-size: 14px;
  font-style: normal;
  font-family: Cuprum;
}

.header__middle--registration{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.header__middle--login,
.header__middle--logup{
  display: block;
  position: relative;
  height: 45px;
  background: #fff;
  font-family: Cuprum;
  font-size: 21px;
  color: #000;
  box-sizing: border-box;
  padding: 15px;
  vertical-align: middle;
  min-width: 120px;
  text-align: center;
}

.header__middle--login{
  margin-right: 10px;
}

.header__middle--login::before{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-login.svg") no-repeat;
  width: 20px;
  height: 17px;
}

.header__nav ul{
  display: flex;
  justify-content: space-between;
  background: #32425c;
  height: 55px;
  border-bottom: 5px solid #293449;
  box-sizing: border-box;
  padding: 15px 50px;
  margin: 0;
}

.header__nav li{
  text-align: center;
}

.header__nav a{
  font-family: Cuprum;
  font-size: 17px;
  color: #fff;
  text-align: left;
}

/* MAIN */

.cataloge{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cataloge__item{
  padding: 25px 0 0 25px;
  box-sizing: border-box;
  width: 30%;
}

.cataloge__item h3{
  margin-bottom: 20px;
}

.cataloge__item a{
  display: block;
  width: 135px;
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  font-family: Cuprum;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
}

.material{
  position: relative;
  background: #ffbf47 url("../img/icon-material.svg") no-repeat 214px 28px;
  order: 1;
}

.tools{
  position: relative;
  background: #3bbce3 url("../img/icon-tools.svg") no-repeat 214px 28px;
  order: 2;
}

.technics{
  position: relative;
  background: #dc91d8 url("../img/icon-technics.svg") no-repeat 214px 28px;
  order: 3;
}

.sale{
  position: relative;
  background: #8ed78f url("../img/icon-sale.svg") no-repeat 214px 28px;
  order: 5;
}

.delivery{
  position: relative;
  background: #ffc047 url("../img/icon-delivery.svg") no-repeat 214px 28px;
  order: 6;
}

.cataloge__slider{
  position: relative;
  order: 4;
}

.cataloge__slider-1{
  background: url("../img/slider-1.jpg") no-repeat;
  width: 620px;
  height: 268px;
}

.cataloge__slider-2{
  display: none;
  background: url("../img/slider-2.jpg") no-repeat;
  width: 620px;
  height: 268px;
}


.product__cataloge{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.product__cataloge--item{
  text-align: center;
  position: relative;
  border: 1px solid #9c9da1;
}

.bfg2000-flag,
.bfg3000-flag,
.bfg6000-flag,
.bfg9000-flag{
  position: relative;
}

.bfg2000-flag::after,
.bfg3000-flag::after,
.bfg6000-flag::after,
.bfg9000-flag::after{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/flag-new.png") no-repeat;
  width: 60px;
  height: 59px;
  top: 0;
  right: 0;
}

.product__header,
.companys__header{
  display: flex;
  justify-content: space-between;
  background: #f9f5f0;
  padding: 20px;
}

.product__header--button,
.companys__header--button,
.about__company--button,
.about__contacts--button{
  display: block;
  background: #ee3643;
  color: #fff;
  width: 253px;
  height: 38px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: Cuprum;
  font-size: 14px;
  text-align: center;
  padding: 8px;
}


.product__cataloge--header{
  font-family: Cuprum;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.product__cataloge--oldprice {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #a9a9a9;
  text-decoration: line-through;
  margin-top: 20px;
}

.product__cataloge--newprice {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #ee3643;
  margin-top: 20px;
}

.companys__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.companys__items li{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 24%;
  height: 145px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
}

.companys__item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.companys__item img{
  margin: 0 auto;
}

.service{
  background: #f4f8fa;
  box-sizing: border-box;
  padding: 70px 0;
}

.service__features-content{
  display: flex;
  position: relative;
  justify-content: space-between;
}

.service__features-content::before{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/vertical-shadow.png") no-repeat;
  width: 10px;
  height: 272px;
  left: 230px;
}

.service__features--delivery,
.service__features--garanty,
.service__features--credit{
  display: block;
  width: 240px;
  height: 60px;
  background: #32425c;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  padding: 20px 0 20px 20px;
}

.service__features--delivery-active{
  background: #fff;
  color: #32425c;
}

.service__content{
  padding-left: 80px;
}

.service__content--delivery,
.service__content--garanty,
.service__content--credit{
  position: relative;
}

.service__content--delivery::after{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/delivery.png") no-repeat;
  width: 468px;
  height: 261px;
}

.service__content--garanty::after{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/garanty.png") no-repeat;
  width: 468px;
  height: 261px;
}

.service__content--credit::after{
  display: block;
  content: "";
  position: absolute;
  background: url("../img/credit.png") no-repeat;
  width: 468px;
  height: 261px;
}

.about{
  display: flex;
  justify-content: space-between;
}

.about__contacts--map{
  display: block;
  width: 300px;
  height: 158px;
  background: url("../img/map-small.jpg") no-repeat;
}

/* FOOTER */
.footer__top{
  display: flex;
  justify-content: space-between;
  background: #32425c;
}

.footer__contacts p{
  color: #fff;
}

.footer__nav ul{
  display: flex;
  justify-content: space-between;
  height: 55px;
}

.footer__nav li{
  text-align: center;
}

.footer__nav a{
  font-family: Cuprum;
  font-size: 17px;
  color: #fff;
  text-align: left;
}

.footer__nav--bottom a{
  color: #ffd180;
}

.footer__bottom{
  display: flex;
  justify-content: space-between;
  background: #293449;
  color: #fff;
}

.social--button{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #212a3a;
}

.footer__bottom--social{
  display: flex;
  justify-content: flex-start;
}

.vk{
  background: url("../img/icon-vk.svg") center no-repeat;
}

.fb{
  background: url("../img/icon-fb.svg") center no-repeat;
}

.inst{
  background: url("../img/icon-insta.svg") center no-repeat;
}


/* CATALOH.HTML */
.filter{
  display: flex;
  justify-content: space-between;
}
