body {
  margin: 0 auto;
  padding: 0;
  font-family: "Cuprum", arial, "sans-serif";
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 940px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  background: #ee3643;
  color: #fff;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
}

.button:hover {
  background: #ca2c37;
}

.button:active {
  background: #ba2732;
}

/* HEADER */
/* HEADER TOP */
.header {
  background: #f4f7f9;
}

.header__top {
  background: #293449;
}

.header__top .container {
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  height: 16px;
  padding: 13px 54px 18px;
  text-align: center;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
  background: #ee3643;
}

.logo:hover {
  background: #ca2c37;
}

.logo:active {
  background: #ba2732;
}

.header__top__formfind {
  width: 270px;
  box-sizing: border-box;
  position: relative;
}

.header__top__formfind input {
  position: relative;
  font-size: 17px;
  background: none;
  border: none;
  height: 40px;
  padding-left: 45px;
  outline: none;
  width: 240px;
  color: inherit;
}

.header__top__formfind:hover input {
  background: #212a3a;
  color: #fff;
}

.header__top__formfind:focus input {
  background: #fff;
  color: #000;
}

/* PLACTHOLDER */
.header__top__formfind input::-webkit-input-placeholder {
  color: #fff;
}

.header__top__formfind input:-moz-placeholder {
  color: #fff;
}

.header__top__formfind input:-moz-placeholder {
  color: #fff;
}

.header__top__formfind input:-ms-input-placeholder {
  color: #fff;
}

.header__top__formfind:focus input::-webkit-input-placeholder {
  color: #000;
}

.header__top__formfind:focus input:-moz-placeholder {
  color: #000;
}

.header__top__formfind:focus input:-moz-placeholder {
  color: #000;
}

.header__top__formfind:focus input:-ms-input-placeholder {
  color: #000;
}

.icon-zoom,
.icon-bookmarks,
.icon-cart {
  fill: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 0;
  left: -10px;
}

.icon-zoom {
  position: absolute;
  top: 12px;
  left: 16px;
}

.header__top__formfind:hover .icon-zoom {
  fill: #fff;
  z-index: 1;
}

.header__top__formfind:active .icon-zoom {
  fill: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.header__top__bookmarks,
.header__top__cart,
.header__top__checkout {
  font-size: 17px;
  color: #fff;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
}

.header__top__bookmarks:hover,
.header__top__cart:hover {
  background: #212a3a;
}

.header__top__bookmarks:active,
.header__top__cart:active {
  background: #212a3a;
  color: rgba(255, 255, 255, 0.6);
}

.header__top__bookmarks:hover .icon-bookmarks,
.header__top__cart:hover .icon-cart {
  fill: #fff;
}

.header__top__bookmarks:active .icon-bookmarks,
.header__top__cart:active .icon-cart {
  fill: rgba(255, 255, 255, 0.6);
}

.header__top__cart--active {
  background: #ee3643;
}

.header__top__checkout {
  background: #63a63e;
}

.header__top__checkout:hover {
  background: #5fbb2d;
}

.header__top__checkout:active {
  background: #518534;
  color: rgba(255, 255, 255, 0.5);
}

/* HEADER MIDDLE */
.header__middle {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 40px 50px;
}

.header__middle__about {
  display: block;
  width: 200px;
  font-family: Cuprum;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
}

.header__middle__contacts {
  margin-top: -7px;
  width: 270px;
}

.header__middle__tel {
  display: block;
  position: relative;
  border: 3px solid #fff;
  color: #ee3643;
  font-size: 21px;
  text-align: center;
  padding: 10px 0 10px 30px;
  text-decoration: none;
}

.header__middle__contacts a::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/icon-phone.svg");
  width: 20px;
  height: 20px;
  left: 10px;
}

.header__middle__contacts address {
  font-size: 14px;
  font-style: normal;
  text-align: center;
}

.header__middle__registration {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__middle__login,
.header__middle__logup {
  display: block;
  background: #fff;
  font-size: 21px;
  color: #000;
  padding: 10px 25px;
  text-align: left;
  text-decoration: none;
}

.header__middle__registration-top {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  width: 300px;
  height: 45px;
}

.header__middle__registration-intro a {
  font-size: 21px;
  color: #000;
  text-decoration: none;
}

.header__middle__registration-name:hover,
.header__middle__registration-name:hover .icon-user {
  fill: #32425c;
}

.header__middle__registration-name:active,
.header__middle__registration-name:active .icon-user {
  fill: #c5c5c5;
  color: rgba(0, 0, 0, 0.5);
}

.icon-login:hover {
  fill: #32425c;
}

.icon-login:active {
  fill: #c5c5c5;
}

.header__middle__registration-bottom {
  text-align: center;
  background: none;
}

.header__middle__registration-bottom p {
  margin: 0;
}

.header__middle__registration-bottom a {
  font-family: cuprum;
  font-size: 16px;
  color: #32425c;
  text-align: center;
  text-decoration: underline;
}

.header__middle__registration-bottom a:hover {
  color: #ee3643;
}

.header__middle__registration-bottom a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__middle__registration-bottom span {
  display: inline-block;
  position: relative;
  width: 4px;
  height: 4px;
  background: #32425c;
  border-radius: 50%;
  top: -4px;
  margin: 0 5px;
}

.header__middle__login {
  margin-right: 10px;
  box-sizing: border-box;
  text-decoration: none;
}

.header__middle__login:hover,
.header__middle__logup:hover {
  color: #ee3643;
}

.header__middle__login:active,
.header__middle__logup:active {
  color: rgba(0, 0, 0, 0.3);
}

.icon-login {
  fill: #c5c5c5;
  position: relative;
  left: -8px;
  top: 1px;
}

.icon-user {
  fill: #c5c5c5;
}

.header__nav {
  padding-bottom: 60px;
  background: #f4f7f9;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0;
  background: #32425c;
  border-bottom: 5px solid #293449;
}

.header__nav a {
  display: block;
  padding: 15px 23px;
  background: #32425c;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
}

.header__nav a:hover {
  background: #293449;
}

.header__nav a:active {
  background: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* MAIN */
.main {
  position: relative;
}

/* CATALOGE */
.cataloge__top {
  padding: 60px 0 0;
}

.cataloge__top,
.cataloge__bottom {
  display: flex;
  justify-content: space-between;
}

.cataloge__bottom {
  padding: 20px 0 50px;
}

.cataloge__item {
  padding: 20px 25px 20px;
  box-sizing: border-box;
  width: 32%;
}

.cataloge__item h3 {
  font-family: Cuprum;
  font-size: 24px;
  color: #fff;
  margin: 0 0 20px 0;
}

.cataloge__bottom-right {
  width: 32%;
}

.cataloge__bottom-right .cataloge__item {
  width: 100%;
}

.cataloge__item a {
  display: block;
  width: 135px;
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.cataloge__item a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.cataloge__item a:active {
  background: rgba(0, 0, 0, 0.3);
}

.material {
  position: relative;
  background: #ffbf47 url("../img/icon-material.svg") no-repeat 214px 28px;
}

.tools {
  position: relative;
  background: #3bbce3 url("../img/icon-tools.svg") no-repeat 197px 31px;
}

.technics {
  position: relative;
  background: #dc91d8 url("../img/icon-technics.svg") no-repeat 194px 28px;
}

.sale {
  position: relative;
  background: #8ed78f url("../img/icon-sale.svg") no-repeat 197px 27px;
  margin-bottom: 20px;
}

.delivery {
  position: relative;
  background: #ffc047 url("../img/icon-delivery.svg") no-repeat 193px 29px;
}

.cataloge__slider {
  position: relative;
}

.cataloge__slider h2 {
  font-family: cuprum;
  font-size: 36px;
  color: #fff;
  margin: 0 0 15px;
}

.cataloge__slider__leftarrow,
.cataloge__slider__rightarrow {
  display: block;
  position: absolute;
  content: "";
}

.cataloge__slider__leftarrow {
  fill: #fff;
  bottom: 112px;
  left: 25px;
}

.cataloge__slider__rightarrow {
  fill: #fff;
  bottom: 112px;
  right: 25px;
}

.cataloge__slider p {
  font-family: cuprum;
  font-size: 18px;
  color: #fff;
  margin: 0;
}

.cataloge__slider-1,
.cataloge__slider-2 {
  width: 620px;
  height: 266px;
  padding: 20px 0 0 25px;
  box-sizing: border-box;
}

.cataloge__slider-1 {
  background: url("../img/slider-1.jpg") no-repeat;
}

.cataloge__slider-2 {
  background: url("../img/slider-2.jpg") no-repeat;
}

.cataloge__slider-2--hidden {
  display: none;
}

.button-slider {
  position: absolute;
  bottom: 20px;
  left: 25px;
  padding: 8px 50px;
}

/* PRODUCT */
.product__cataloge,
.product__cataloge--inside {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding-top: 20px;
}

.product__cataloge__item {
  text-align: center;
  position: relative;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding: 35px 20px 40px;
  width: calc(25% - 14px);
}

.product__cataloge__item-buy {
  position: absolute;
  width: 100%;
  padding: 45px 40px 30px;
  background: #fff;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.product__cataloge__item-buy--hidden {
  display: none;
}

.product__cataloge__item:hover,
.product__cataloge__item--inside:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.product__cataloge__item:hover .product__cataloge__item-buy--hidden,
.product__cataloge__item--inside:hover .product__cataloge__item-buy--hidden {
  display: block;
  z-index: 1;
}

.product__cataloge__item--inside {
  text-align: center;
  position: relative;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding: 45px 20px 40px;
  width: calc(33% - 10px);
  margin-bottom: 20px;
  text-align: center;
}

.product__cataloge__bfg2000,
.product__cataloge__bfg3000,
.product__cataloge__bfg6000,
.product__cataloge__bfg9000 {
  margin-bottom: 40px;
}

.button__buy,
.button__bookmarks {
  width: 100%;
  border: 3px solid #63a63e;
  background-color: #63a63e;
  margin-bottom: 10px;
}

.button__bookmarks {
  background: #fff;
  color: #000;
}

.button__buy:hover {
  background: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom: 3px solid #63a63e;
}

.button__buy:active {
  background: #518534;
  border: 3px solid #518534;
}

.button__bookmarks:hover {
  background: #fff;
  border: 3px solid #32425c;
}

.button__bookmarks:active {
  border: 3px solid rgba(50, 60, 92, 0.3);
  color: rgba(50, 60, 92, 0.3);
}

.icon-busket {
  position: relative;
  top: 0;
  left: -25px;
  fill: rgba(255, 255, 255, 0.5);
}

.button__buy:hover .icon-busket,
.button__buy:active .icon-busket {
  fill: rgba(255, 255, 255, 1);
}

.bfg2000-flag,
.bfg3000-flag,
.bfg6000-flag,
.bfg9000-flag {
  position: relative;
}

.bfg-flag {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.product__header,
.companys__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f5f0;
  padding: 30px 25px;
}

.product__header h2,
.companys__header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}

.product__button {
  padding: 8px 53px;
}

.product__cataloge {
  padding: 25px 0;
}

.product__cataloge__header {
  display: block;
  font-family: "pt sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
  text-decoration: none;
}

.product__cataloge__oldprice {
  font-family: "pt sans";
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #a9a9a9;
  text-decoration: line-through;
  margin: 0 0 20px;
}

.product__cataloge__newprice {
  position: absolute;
  bottom: 15px;
  left: 40px;
  width: 125px;
  font-family: "pt sans";
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  background: #ee3643;
  padding: 7px 0;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-decoration: none;
}

.product__cataloge__newprice::after {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  right: -38px;
  border: 19px solid transparent;
  border-left: 19px solid #ee3643;
}

.product__cataloge__newprice:hover {
  background: #ca2c37;
}

.product__cataloge__newprice:active {
  background: #ba2732;
}

.product__cataloge__newprice:hover::after {
  border-left: 19px solid #ca2c37;
}

.product__cataloge__newprice:active::afterx {
  border-left: 20px solid #ba2732;
}

.product__pagination {
  display: flex;
  justify-content: flex-start;
}

.product__pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product__pagination__item {
  display: block;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  color: #000;
}

.product__pagination__item:hover {
  border: 1px solid #bdc6ca;
}

.product__pagination__item:active {
  border: 1px solid #ee3643;
}

.product__pagination__item--active,
.product__pagination__item--active:active,
.product__pagination__item--active:hover {
  background: #ee3643;
  color: #fff;
  border: 1px solid #ee3643;
}

.companys__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 0 50px;
}

.companys__item {
  display: flex;
  justify-content: center;
  width: calc(25% - 14px);
  height: 145px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.companys__item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.companys__item:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.companys__item:active img {
  opacity: 0.3;
}

.companys__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.companys__item img {
  margin: 0 auto;
}

.companys__button {
  padding: 8px 67px;
}

.service {
  background: #f4f8fa;
  box-sizing: border-box;
  padding: 30px 0 20px;
}

.service__header {
  width: 410px;
  margin-bottom: 70px
}

.service__header h2 {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  color: #000;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.service__header p {
  color: #000;
}

.service__features {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.service__features-content {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.service__features-content::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/vertical-shadow.png") no-repeat;
  width: 10px;
  height: 272px;
  left: 230px;
  top: -35px;
}

.service__features__delivery,
.service__features__garanty,
.service__features__credit {
  display: block;
  width: 240px;
  background: #32425c;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
  padding: 15px 0 22px 25px;
  text-decoration: none;
}

.service__features__delivery:hover,
.service__features__garanty:hover,
.service__features__credit:hover {
  background: #293449;
}

.service__features__delivery:active,
.service__features__garanty:active,
.service__features__credit:active {
  background: #fff;
  color: #32425c;
}

.service__features__delivery-active {
  background: #fff;
  color: #32425c;
}

.service__content {
  padding-left: 80px;
  width: 100%
}

.service__content__delivery h2 {
  text-transform: uppercase;
  margin: 0 0 40px;
  font-weight: normal;
  color: #32425c;
  font-size: 36px;
}

.service__content__delivery {
  background: url("../img/delivery.png") no-repeat top right;
  height: 240px;
}

.service__content__garanty {
  background: url("../img/garanty.png") no-repeat top right;
  height: 240px;
}

.service__content__credit {
  background: url("../img/credit.png") no-repeat top right;
  height: 240px;
}

.service__content p {
  width: 300px;
  color: #000;
}

.about .container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0;
}

.about h2 {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 40px;
}

.about p {
  margin-bottom: 30px;
  font-family: "pt sans";
  font-size: 13px;
}

.about__company p {
  width: 525px;
}

.about__company ul {
  padding: 0;
}

.about__company li {
  display: block;
  position: relative;
  font-family: cuprum;
  font-size: 18px;
  color: #000;
  margin-left: 35px;
  margin-bottom: 20px;
}

.about__company li::before {
  display: block;
  content: "";
  position: relative;
  top: 12px;
  left: -34px;
  width: 25px;
  height: 2px;
  background: #ee3643;
}

.about__contacts {
  padding-bottom: 85px;
}

.about__contacts p {
  width: 180px;
}

.about__contacts__map {
  width: 300px;
  height: 158px;
  margin-bottom: 50px;
}

.about__button,
.map__button {
  padding: 8px 40px;
  width: 300px;
}

/* FOOTER */
.footer__top {
  background: #32425c;
}

.footer__top .container {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  width: 220px;
}

.logo__footer {
  margin-bottom: 30px;
}

.footer__top__contacts a,
.footer__top__contacts address {
  color: #fff;
  font-family: cuprum;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}

.footer__nav {
  padding-bottom: 40px;
}

.footer__nav ul {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 550px;
  margin: 40px 0 0;
}

.footer__nav ul:last-child {
  margin: 0 0 0 25px;
}

.footer__nav li {
  text-align: center;
  font-family: Cuprum;
  font-size: 17px;
  text-align: left;
}

.footer__nav__top a {
  color: #fff;
  text-decoration: none;
}

.footer__nav__bottom a {
  color: #ffd180;
  text-decoration: none;
}

.footer__nav__top a:hover,
.footer__nav__bottom a:hover {
  text-decoration: underline;
}

.footer__nav__top a:active,
.footer__nav__bottom a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer__bottom {
  background: #293449;
}

.footer__bottom .container {
  display: flex;
  justify-content: space-between;
  background: #293449;
  color: #fff;
  padding: 30px 0 20px;
}

.footer__bottom__copyright {
  width: 230px;
}

.social__button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer__bottom__social {
  display: flex;
  justify-content: flex-start;
  text-indent: -9999px;
  list-style-type: none;
}

.filter__range__min,
.filter__range__max,
.cataloge__slider__leftarrow,
.cataloge__slider__rightarrow {
  text-indent: -9999px;
}

.vk {
  background-image: url("../img/icon-vk.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.fb {
  background-image: url("../img/icon-fb.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.inst {
  background-image: url("../img/icon-insta.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.vk:hover,
.fb:hover,
.inst:hover,
.vk:active,
.fb:active,
.inst:active {
  background-color: #ee3643;
}

.footer__bottom__mail p {
  display: inline-block;
  width: 140px;
}

.footer__bottom__mail a {
  color: #ffd180;
}

.footer__bottom__mail a:hover {
  text-decoration: underline;
}

.footer__bottom__mail a:active {
  text-decoration: none;
  color: #ee3643;
}

/* CATALOH.HTML */
.breadcrumbs ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs h2 {
  padding: 33px 0 33px 30px;
  background: #f2f6f8;
  color: #32425c;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
}

.breadcrumbs li,
.breadcrumbs a {
  font-family: "pt sans";
  color: #000;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.filter__form {
  width: 23%;
}

.filter__products__line {
  display: flex;
  justify-content: flex-start;
  background: #f7f3ec;
  padding: 10px 20px;
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
}

.filter__products__line li:first-child {
  margin-right: 140px;
  text-transform: uppercase;
  font-family: "pt sans";
  font-size: 13px;
}

.filter__products__price,
.filter__products__type,
.filter__products__function {
  display: block;
  margin-right: 40px;
  text-transform: uppercase;
  font-family: "pt sans";
  color: #000;
  font-size: 13px;
  border-bottom: 1px dashed #ee3643;
}

.filter__products__price {
  color: #ee3643;
  border-bottom: none;
}

.filter__products__price:hover,
.filter__products__type:hover,
.filter__products__function:hover {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #ee3643;
}

.filter__products__price:active,
.filter__products__type:active,
.filter__products__function:active {
  color: #ee3643;
  border-bottom: none;
}

.filter__products__lineup,
.filter__products__linedown {
  fill: #c5c5c5;
}

.filter__products__lineup--active {
  fill: #ee3643;
  margin-right: 20px;
}

.filter__products__lineup:hover,
.filter__products__linedown:hover {
  fill: #231f20;
}

.filter__products__lineup:active,
.filter__products__linedown:active {
  fill: #ee3643;
}

.filter__form span {
  display: block;
  font-family: "pt sans";
  background: #f7f3ec;
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
}

.filter__products {
  width: 75%;
}

.filter h3,
legend {
  display: block;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: #000;
  border: 0;
  padding: 15px 0;
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.filter__range__controls {
  position: relative;
  margin-bottom: 10px;
}

.scale {
  width: 100%;
  height: 80px;
  background: #f7f3ec;
  box-sizing: border-box;
  padding: 39px 20px;
}

.bar {
  width: 100%;
  height: 2px;
  background: #00ca74;
  position: relative;
}

.bar::after {
  position: absolute;
  content: "";
  background: #d7dcde;
  top: 0;
  right: 0;
  width: 29px;
  height: 2px;
}

.filter__range,
.filter__companys {
  padding-bottom: 25px;
  border-bottom: 1px solid #f7f3ec;
}

.filter__range__toggle {
  width: 4px;
  height: 4px;
  border: 9px solid #fff;
  border-radius: 50%;
  background: gray;
  box-shadow: 1px 2px #e0ddd8;
}

.filter__range__min {
  position: absolute;
  content: "";
  top: 28px;
  left: 12px;
}

.filter__range__max {
  position: absolute;
  content: "";
  top: 28px;
  right: 40px;
}

.filter__range__data {
  display: flex;
  justify-content: space-between;
}

.filter__range__data input[type="number"] {
  background: #f7f3ec;
  border: 0;
  width: 94px;
  padding: 12px 0;
  text-align: center;
}

.main_about {
  padding: 65px 0 80px;
  background: #f2f6f8
}

.main_about h2 {
  margin: 0 0 40px;
  color: #000;
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
}

.main_about p {
  color: #000;
}

.filter__form input[type="checkbox"],
.filter__form input[type="radio"] {
  display: none;
  position: relative;
}

.filter__companys ul,
.filter__power ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter__companys label,
.filter__power label {
  display: block;
  position: relative;
  font-family: "pt sans";
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 35px;
  cursor: pointer;
}

.filter__companys-input-checkbox+label::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/checkbox-off.svg") no-repeat;
  width: 27px;
  height: 23px;
  top: 10px;
  left: 0;
}

.filter__companys-input-checkbox:checked+label::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/checkbox-on.svg") no-repeat;
  width: 27px;
  height: 23px;
  top: 10px;
  left: 0;
}

.filter__power-input-radio+label::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/radio-off.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 0;
}

.filter__power-input-radio--active+label::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/radio-on.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 0;
}

.filter__power-input-radio:checked+label::before {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/radio-on.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 0;
}

.submit-button {
  display: block;
  background: #fff;
  color: #000;
  outline: none;
  padding: 14px 40px border: 1px solid #000;
}

.contacts__popup {
  position: absolute;
  bottom: 0;
  left: 320px;
  width: 620px;
  background: #fff;
  border-top: 7px solid #ff5357;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.contacts__popup form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 80px 0;
}

.contacts__popup__name,
.contacts__popup__email {
  width: calc(50% - 20px);
}

.contacts__popup__name label,
.contacts__popup__email label,
.contacts__popup__textarea label {
  display: block;
}

.contacts__popup__textarea {
  width: 100%;
}

.contacts__popup label {
  font-family: Cuprum;
  font-size: 18px;
  color: #000;
  margin-bottom: 13px;
}

.contacts__popup input {
  width: 220px;
  padding: 12px 14px;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  color: #a9a9a9;
  font-family: "pt sans";
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 23px;
}

.contacts__popup textarea {
  width: 470px;
  height: 110px;
  padding: 12px 14px;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  color: #a9a9a9;
  font-family: "pt sans";
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
}

.contacts__popup__sendbutton {
  box-sizing: border-box;
  padding: 35px 80px;
  background: #f4f4f4;
}

.popup__close {
  fill: #ee3643;
}

.about__contacts__map__popup {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
